<%= form_for(@lipid) do |f| %>
  <% if @lipid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lipid.errors.count, "error") %> prohibited this lipid from being saved:</h2>

      <ul>
      <% @lipid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lm_id %><br>
    <%= f.text_field :lm_id %>
  </div>
  <div class="field">
    <%= f.label :pubchem_substane_url %><br>
    <%= f.text_field :pubchem_substane_url %>
  </div>
  <div class="field">
    <%= f.label :lipid_maps_cmpd_url %><br>
    <%= f.text_field :lipid_maps_cmpd_url %>
  </div>
  <div class="field">
    <%= f.label :common_name %><br>
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :systematic_name %><br>
    <%= f.text_field :systematic_name %>
  </div>
  <div class="field">
    <%= f.label :synonyms %><br>
    <%= f.text_field :synonyms %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :main_class %><br>
    <%= f.text_field :main_class %>
  </div>
  <div class="field">
    <%= f.label :sub_class %><br>
    <%= f.text_field :sub_class %>
  </div>
  <div class="field">
    <%= f.label :exact_mass %><br>
    <%= f.text_field :exact_mass %>
  </div>
  <div class="field">
    <%= f.label :formula %><br>
    <%= f.text_field :formula %>
  </div>
  <div class="field">
    <%= f.label :pubchem_sid %><br>
    <%= f.text_field :pubchem_sid %>
  </div>
  <div class="field">
    <%= f.label :pubchem_cid %><br>
    <%= f.text_field :pubchem_cid %>
  </div>
  <div class="field">
    <%= f.label :kegg_id %><br>
    <%= f.text_field :kegg_id %>
  </div>
  <div class="field">
    <%= f.label :chebi_id %><br>
    <%= f.text_field :chebi_id %>
  </div>
  <div class="field">
    <%= f.label :inchi_key %><br>
    <%= f.text_field :inchi_key %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
