<h1>Listing lipids</h1>
Total: <%= @lipids_count %> lipids (from <%= @start %> to <%= @end %>)
<br />
<%= paginate @lipids %>

<table>
  <thead>
    <tr>
      <th>Lipidmaps ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Ox./Var.</th>
    </tr>
  </thead>

  <tbody>
    <% @lipids.each do |lipid| %>
      <tr>
        <td><%= link_to lipid.lm_id, lipid_path(lipid) %></td>
        <td><%= lipid.common_name %></td>
        <td><%= lipid.category.name %></td>
        <td><%= lipid.sub_class =~ /\[(.+)\]/ ? $1 : lipid.sub_class %></td>
        <td style="<%= lipid.oxidations>0 ? 'color: red' : 'color: black' %>"><%= lipid.oxidations %> / <%=lipid.oxvariant%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @lipids %>
<br />
<%= link_to 'New Lipid', new_lipid_path %>
