<% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
<h1 class="page-header"><%= @lipid.common_name %></h1>

<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">General info</h3></div>
  <div class="panel-body"><p>
  <strong>Lipidmaps-ID:</strong> <%= link_to @lipid.lm_id, @lipid.lipid_maps_cmpd_url,  :target=>"_blank" %><br />
  <strong>Pubchem-ID:</strong> <%= @lipid.parent!=@lipid.lm_id ? @lipid.pubchem_sid : link_to(@lipid.pubchem_sid, @lipid.pubchem_substane_url, target: 'blank') %><br />
  <strong>Systematic name:</strong> <%= @lipid.systematic_name %><br />
  <strong>Synonyms:</strong> <%= @lipid.synonyms %> <br />
</p>
<p class="text-danger"><strong>Oxidations:</strong> <%=@lipid.oxidations%><br />
  <strong>Oxidation variant:</strong> <%=@lipid.oxvariant%><br /></p>
    <% if @children.count %>
    <strong>Variants of this lipid:</strong><ul>
    <% @children.each do |child| %>
    <li><%=link_to child.common_name, child%><%= child.lm_id == child.parent ? ' (unoxidized parent)' : ''%></li>
    <% end %>
  </ul>
    <% end %>
</div></div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Categorization</h3></div>
  <div class="panel-body"><p>
    <strong>Category:</strong> <%= @lipid.category_ %><br />
  <strong>Main class:</strong> <%= @lipid.main_class %><br />
  <strong>Sub class:</strong> <%= @lipid.sub_class %><br />
  <strong>Pubchem cid:</strong>
  <%= @lipid.pubchem_cid %>
</p></div></div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Additional information</h3></div>
  <div class="panel-body">
  <p>
  <strong>Exact mass:</strong>
  <%= @lipid.exact_mass %> <br />
  <strong>Formula:</strong>
  <%= @lipid.formula %>           <br />
  <strong>Kegg:</strong>
  <%= @lipid.kegg_id %>                 <br />
  <strong>Chebi:</strong>
  <%= @lipid.chebi_id %>         <br />
  <strong>Inchi key:</strong>
  <%= @lipid.inchi_key %>  <br />
  <strong>Status:</strong>
  <%= @lipid.status %>
</p>
    </div></div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">2D-structure</h3></div>
  <div class="panel-body"><canvas id="viewerCanvas" style="border:none"></canvas></div>
</div>
<script>
    //initialize component and set visual specifications
    var viewerCanvas = new ChemDoodle.ViewerCanvas('viewerCanvas', 500, 200);
    //the width of the bonds should be .6 pixels
    viewerCanvas.specs.bonds_width_2D = .6;
    //the spacing between higher order bond lines should be 18% of the length of the bond
    viewerCanvas.specs.bonds_saturationWidth_2D = .13;
    //the hashed wedge spacing should be 2.5 pixels
    viewerCanvas.specs.bonds_hashSpacing_2D = 2.5;
    //the atom label font size should be 10
    viewerCanvas.specs.atoms_font_size_2D = 10;
    //we define a cascade of acceptable font families
    //if Helvetica is not found, Arial will be used
    viewerCanvas.specs.atoms_font_families_2D = ["Helvetica", "Arial", "sans-serif"];
    //display carbons labels if they are terminal
    viewerCanvas.specs.atoms_displayTerminalCarbonLabels_2D = false;
    viewerCanvas.specs.atoms_showHiddenCarbons_2D = true;
    viewerCanvas.specs.atoms_usePYMOLColors = true;

    //load data and read into a Molecule
    var lipidMolFile = '<%=@lipid.molfile.gsub!(/[\r\n]+/, "\\n");%>';
    var lipid = ChemDoodle.readMOL(lipidMolFile);
    //the bond lengths should be 14.4 pixels in ACS Document 1996
    lipid.scaleToAverageBondLength(18);

    viewerCanvas.loadMolecule(lipid);
</script>           <br />
