
<h1>Filtering compounds</h1>

<%= form_tag(:action => 'filter_view') do %>
  <table>
      <tr>
        <th>Minimal Score</th><td><%= text_field "minimal_score", 'value', :size=>15, :value=>40 %></td>
      </tr><tr>
      <th>Minimal Frag. Score</th><td><%= text_field "minimal_frag_score", 'value', :size=>15, :value=>50 %></td>
      </tr><tr>
        <th>Minimal ISS</th><td><%= text_field "minimal_iss", 'value', :size=>15, :value=>90 %></td>
      </tr><tr>
        <th>Minimal # of Adducts</th><td><%= text_field "minimal_n_adducts", 'value', :size=>15, :value=>4 %></td>
      </tr><tr>
        <th>Category</th><td><%= select :category, :name, ['all'].concat(Category.all.map{|cate| cate.name}), :selected => 'all' %></td>
      </tr>
  </table>

  <br />
  Oxidation filtering (discard oxidized lipids): <%= check_box(:oxidized_filtering, :flag, {:checked=>false}, true, false) %>
  <br />
  <%= submit_tag 'Go Filtering' %>
  <% if session[:relative_order] %>
  with relative filtering (select the best match lipid for a compound): <%= check_box(:relative_order, :flag, {:checked=>true}, true, false) %>
  <% end %>
<% end %>
<br />
<% if session[:relative_order] %>
Relative filtering order:<br />
  <ol>
    <% session[:relative_order].each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ol>
  <%= button_to 'Change relative filterng order', '/compounds/relative_filter' %>
<% else %>
  <%= button_to 'Create relative filtering order', '/compounds/relative_filter' %>
<% end %>

<hr />
<h2>Score Distribution</h2>
<% if @score_list %>
range: <%= @score_list[0] %> - <%= @score_list[1] %>, ave: <%= "%.1f" % @score_list[2] %>, sd: <%= "%.1f" % @score_list[3] %><br \>
<% end %>
<%= column_chart @score_dist,
  :library => {
  :hAxis => {:title => "Score Distribution"}
  }
%>


<h2>Frag. Score Distribution</h2>
<% if @frag_score_list %>
range: <%= @frag_score_list[0] %> - <%= @frag_score_list[1] %>, ave: <%= "%.1f" % @frag_score_list[2] %>, sd: <%= "%.1f" % @frag_score_list[3] %><br \>
<% end %>
<%= column_chart @frag_score_dist,
  :library => {
  :hAxis => {:title => "Frag. Score Distribution"}
  }
%>


<h2>ISS Distribution</h2>
<% if @iss_list %>
range: <%= @iss_list[0] %> - <%= @iss_list[1] %>, ave: <%= "%.1f" % @iss_list[2] %>, sd: <%= "%.1f" % @iss_list[3] %><br \>
<% end %>

<%= column_chart @iss_dist,
  :library => {
  :hAxis => {:title => "ISS Distribution"}
  }
%>

<h2># of Adducts Distribution</h2>
<% if @adducts_list %>
range: <%= @adducts_list[0] %> - <%= @adducts_list[1] %>, ave: <%= "%.1f" % @adducts_list[2] %>, sd: <%= "%.1f" % @adducts_list[3] %><br \>
<% end %>

<%= column_chart @adducts_size_dist,
  :library => {
  :hAxis => {:title => "Adducts Size Distribution"}
  }
%>

<h2>Category Distribution</h2>
<%= column_chart @category_dist,
  :library => {
  :hAxis => {:title => "Category Distribution"}
  }
%>




