<p><%=@error%></p>
<h1>Define filtering settings</h1>

<%= form_tag(:action => 'filter') do %>
    <table style="width:700px"><tr><td>
  <table style="width:350px">
      <tr>
        <th>Minimal Score</th><td><%= text_field "minimal", 'score', :size=>15, :value=>@criteria.minimal['score'] %></td>
      </tr><tr>
      <th>Minimal Frag. Score</th><td><%= text_field "minimal", 'fragmentation_score', :size=>15, :value=>@criteria.minimal['fragmentation_score'] %></td>
      </tr><tr>
        <th>Minimal ISS</th><td><%= text_field "minimal", 'isotope_similarity', :size=>15, :value=>@criteria.minimal['isotope_similarity'] %></td>
      </tr><tr>
        <th>Minimal # of Adducts</th><td><%= text_field "minimal", 'adducts', :size=>15, :value=>@criteria.minimal['adducts'] %></td>
      </tr><!--<tr>
        <th>Category</th><td><%= select :category, :name, ['all'].concat(Category.all.map{|cate| cate.name}), :selected => 'all' %></td>
      </tr>-->
  </table></td><td>

   <p><strong>Relative filtering order</strong><br />
   <% @criteria.relative.each_with_index  do |criterium, priority|%>
    <%=text_field 'relative', criterium, size: 2, value:priority+1%>. <%=criterium.gsub(/_/," ")%><br />
   <% end %>
   </p>
      <p>  Oxidation-chaining: <%= check_box('oxichain', 'flag', {:checked=>@criteria.oxichain != false}, true, false) %>
      </p>
    </td></tr></table>
  <%= submit_tag 'Save Filtering' %>
<% end %>
 <p><%= link_to 'Apply filtering','filter_view'%> (you have to save first!).</p>

<hr />
<h2>Score Distribution</h2>
<% if @score_list %>
range: <%= @score_list[0] %> - <%= @score_list[1] %>, ave: <%= "%.1f" % @score_list[2] %>, sd: <%= "%.1f" % @score_list[3] %><br \>
<% end %>
<%= column_chart @score_dist,
  :library => {
  :hAxis => {:title => "Score Distribution"}
  }
%>


<h2>Frag. Score Distribution</h2>
<% if @frag_score_list %>
range: <%= @frag_score_list[0] %> - <%= @frag_score_list[1] %>, ave: <%= "%.1f" % @frag_score_list[2] %>, sd: <%= "%.1f" % @frag_score_list[3] %><br \>
<% end %>
<%= column_chart @frag_score_dist,
  :library => {
  :hAxis => {:title => "Frag. Score Distribution"}
  }
%>


<h2>ISS Distribution</h2>
<% if @iss_list %>
range: <%= @iss_list[0] %> - <%= @iss_list[1] %>, ave: <%= "%.1f" % @iss_list[2] %>, sd: <%= "%.1f" % @iss_list[3] %><br \>
<% end %>

<%= column_chart @iss_dist,
  :library => {
  :hAxis => {:title => "ISS Distribution"}
  }
%>

<h2># of Adducts Distribution</h2>
<% if @adducts_list %>
range: <%= @adducts_list[0] %> - <%= @adducts_list[1] %>, ave: <%= "%.1f" % @adducts_list[2] %>, sd: <%= "%.1f" % @adducts_list[3] %><br \>
<% end %>

<%= column_chart @adducts_size_dist,
  :library => {
  :hAxis => {:title => "Adducts Size Distribution"}
  }
%>

<h2>Category Distribution</h2>
<%= column_chart @category_dist,
  :library => {
  :hAxis => {:title => "Category Distribution"}
  }
%>




