<h1>Results of feature filtering</h1>
<hr />
<%=render file: 'compounds/show_filtering_criteria'%>

<p></p><font color=red>filtered <%= @results.length %> lipids (<%="%02.1f"%(100*@results.length/Compound.count) %>%) out of  <%= Compound.count %> identifications.</font></p>
<%= form_tag(:controller => 'compounds',:action => 'save_as_csv') do %>
  <%= button_to 'save as csv' %>
<% end %>
<hr />
<table>
  <thead>
    <tr>
        <th colspan="4"></th>
        <th colspan="<%=@headers.count%>" style="background-color: #ff8888">Raw Values</th>
        <th colspan="<%=@headers.count%>" style="background-color: #88ff88">Normalized Values</th>
    </tr>
    <tr>
      <th>Identification</th>
      <th>Compound</th>
      <th>Lipid</th>
      <th># Ident</th>
      <% @headers.each do |header| %>
      <th style="background-color: #ff8888"><%=header.gsub(/_/,' ')%></th>
      <% end %>
      <% @headers.each do |header| %>
          <th style="background-color: #88ff88"><%=header.gsub(/_/,' ')%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @results.each do |feature| %>
  <tr>
    <td><%= link_to feature.compound_id, compound_path(feature) %></td>
    <td><%= link_to feature.compound, feature_path(feature.compound) %></td>
    <td><%= link_to feature.lipid.common_name, lipid_path(feature.lipid) %></td>
    <td><%= Compound.where(compound: feature.compound).count %></td>
    <% quant = eval(feature.quant.samples)
       quant = {} if quant.nil?
       quant.each do |key, value| %>
    <td><%="%.0f"%value[0]%></td>
    <% end %>
    <% quant.each do |key, value| %>
        <td><%="%.0f"%value[1]%></td>
    <% end %>
  </tr>
  <%end%>
  </tbody>
</table>