<h1>Relative filtering order</h1>

<%= form_tag(:action => 'save_relative_filter') do %>
  <table>
    <% @relative_order.each_with_index do |key, i| %>
      <tr>
        <td width=1><%= text_field :relative_order, key, :size=>2, :value=>i+1 %></td>
        <th width=200><%= key.to_s %></th>
      </tr>
    <% end %>
  </table>

  <br />

  <%= submit_tag 'Save' %>
<% end %>
<%= button_to 'reset', '/compounds/relative_filter_reset' %>


