<p id="notice"><%= notice %></p>

<h1>Result <%= @compound.compound_id %> for feature <%= link_to @compound.compound, feature_path(@compound.compound) %></h1>
<hr />
<strong>Search-result ID (internal):</strong> <%= @compound.compound_id %><br />

<h3>All feature identifications</h3>
<table><tr><th>Result-ID</th><th>Lipid</th><th>Lipid mass</th><th>Score</th><th>Frag. score</th><th>Mass error</th><th>Isotope sim.</th></tr>
  <tr style="background-color:#ff8888">
    <td><%= link_to @compound.compound_id, compound_path(@compound) %></td>
    <td><%= link_to @compound.description, lipid_path(@compound.lipid) %></td>
    <td><%= @compound.lipid.exact_mass %></td>
    <td><%= "%02.1f"%@compound.score %></td>
    <td><%= "%02.1f"%@compound.fragmentation_score %></td>
    <td><%= "%.4f"%@compound.mass_error %></td>
    <td><%= "%02.4f"%@compound.isotope_similarity %></td>
  </tr>
<% Compound.where(compound: @compound.compound).where.not(id: @compound.id).each do |other_compound|%>
    <tr>
      <td><%= link_to other_compound.compound_id, compound_path(other_compound) %></td>
      <td><%= link_to other_compound.description, lipid_path(other_compound.lipid) %></td>
      <td><%= other_compound.lipid.exact_mass %></td>
      <td><%= "%02.1f"%other_compound.score %></td>
      <td><%= "%02.1f"%other_compound.fragmentation_score %></td>
      <td><%= "%.4f"%other_compound.mass_error %></td>
      <td><%= "%02.4f"%other_compound.isotope_similarity %></td>
    </tr>

<% end %>
</table>

<hr />

<%= link_to 'Edit', edit_compound_path(@compound) %> |
<%= link_to 'Back', compounds_path %>
