<p id="notice"><%= notice %></p>

<p>
  <strong>Compound:</strong>
  <%= @compound.compound %>
</p>

<p>
  <strong>Compound:</strong>
  <%= @compound.compound_id %>
</p>

<p>
  <strong>Adducts:</strong>
  <%= @compound.adducts %>
</p>

<p>
  <strong>Score:</strong>
  <%= @compound.score %>
</p>

<p>
  <strong>Fragmentation score:</strong>
  <%= @compound.fragmentation_score %>
</p>

<p>
  <strong>Mass error:</strong>
  <%= @compound.mass_error %>
</p>

<p>
  <strong>Isotope similarity:</strong>
  <%= @compound.isotope_similarity %>
</p>

<p>
  <strong>Retention time:</strong>
  <%= @compound.retention_time %>
</p>

<p>
  <strong>SID:</strong>
  <%= @compound.sid %>
</p>


<p>
  <strong>Link:</strong>
  <%= link_to @compound.link, @compound.link, :target=>"_blank" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @compound.description %>
</p>

<%= link_to 'Edit', edit_compound_path(@compound) %> |
<%= link_to 'Back', compounds_path %>
