<%= form_for(@quant) do |f| %>
  <% if @quant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quant.errors.count, "error") %> prohibited this quant from being saved:</h2>

      <ul>
      <% @quant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :compound %><br>
    <%= f.text_field :compound %>
  </div>
  <div class="field">
    <%= f.label :samples %><br>
    <%= f.text_field :samples %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
