<h1 class="page-header">Listing quants</h1>
Total: <%= @quants_count %> quants
<br />
<%= paginate @quants %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Compound</th>
      <% @headers.each do |header| %>
              <th><%=header.gsub(/_/," ")%></th>
      <% end %>
    </tr>
  </thead>
  <style>.number {text-align:right}</style>
  <tbody>
    <% i=0 %>
    <% @quants.each do |quant|
        samples = eval(quant.samples)%>
      <tr>
        <td><%= link_to quant.compound, feature_path(quant.compound) %></td>
            <% eval(quant.samples).each do |key, values| %>
            <td class="number"><%=values[@value_index]=="0" ? "-" : "%0.f"%values[@value_index]%></td>
            <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

<%= paginate @quants %>
<br>
