<h1>Listing quants</h1>
Total: <%= @quants_count %> quants
<br />
<%= paginate @quants %>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Internal ID</th>
      <th>Compound</th>
      <th>Compounds</th>
      <th>Sample</th>
      <th>Raw</th>
      <th>Norm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i=0 %>
    <% @quants.each do |quant| %>
      <% eval(quant.samples).each do |key, values| %>
      <tr>
        <td><%= i+=1 %></td>
        <td><%= quant.id %></td>
        <td><%= link_to quant.compound, "/compounds/#{Compound.find_by_compound(quant.compound).id}" %></td>
        <td><%= quant.compounds.map{|comp| link_to(comp.id, "/compounds/#{comp.id}")}.join(",").html_safe %></td>
        <td><%= key %></td>
        <td><%= values.first %></td>
        <td><%= values.last %></td>
        <td><%= link_to 'Show', quant %></td>
        <td><%= link_to 'Edit', edit_quant_path(quant) %></td>
        <td><%= link_to 'Destroy', quant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <!--        <td><%= quant.samples %></td> -->
    <% end %>
  </tbody>
</table>

<%= paginate @quants %>
<br>

<%= link_to 'New Quant', new_quant_path %>
