<!-- <h1>SLIM <span style="color:gray;font-size:medium">Smart Limidomics Interactive Manager</span></h1> -->
<%= image_tag('slim_logo.png') %>
<table class="pages_presentation">
  <tr>
    <td></td>
    <td class="page">
      <h1><%= link_to 'All Lipids', '/lipids', :method => :get %></h1>
      <p>
        Total: <%= session['lipid_count'] %> lipids
        <%= button_to 'Clear', '/lipids/delete_all' %>
      </p>
    </td>
    <td class="page">
      <h1><%= link_to 'Import lipid database', "/import_lipids" %></h1>
      <p>
        Import new lipid-data from a SDF-file (.sdf)
      </p>
    </td>

  </tr>
  <tr>
    <td>
    </td>
    <td class="page">
      <h1><%= link_to 'Identifications', '/compounds', :method => :get %></h1>
      <p>
        Total: <%= session['compound_count'] %> compounds identified.
        <%= button_to 'Clear', '/compounds/delete_all' %>
      </p>
    </td>
    <td class="page">
      <h1><%= link_to 'Import identifications', "/import_compounds" %></h1>
      <p>
        Import Progenesis Compound ID output (.csv)
      </p>
    </td>
    <td class="page">
      <h1><%= link_to 'Set Filtering', "/compounds/filter" %></h1>
      <p>
        Define Filtering order
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Find the sourcecode and the manual on <a href="https://github.com/masaomi/slim">Github</a></p>
    </td>
    <td class="page">
      <h1><%= link_to 'Quantifications', '/quants' %></h1>
      <p>
        Total: <%= session['quant_count'] %> quantifications
        <%= button_to 'Clear', '/quants/delete_all' %>
      </p>
    </td>
    <td class="page">
      <h1><%= link_to 'Import quantification', "/import_quants" %></h1>
      <p>
        Import Progenesis Compound quant output (.csv)
      </p>
    </td>
    <td class="page">
      <h1><%= link_to 'Get filtering output', "/compounds/filter_view" %></h1>
      <p>
       <%= button_to 'download as .csv', '/compounds/save_as_csv' %>
      </p>
    </td>
  </tr>
</table>