<!DOCTYPE html>
<html>
<head>
  <title>ProtoSlim2</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "chemdoodle/ChemDoodleWeb.js" %>
  <%= stylesheet_link_tag    "chemdoodle/ChemDoodleWeb.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
