<!DOCTYPE html>
<html lang="en">
<head>
  <title>SLIM – Smart lipidomics interactive manager</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "chemdoodle/ChemDoodleWeb.js" %>
  <%= stylesheet_link_tag    "chemdoodle/ChemDoodleWeb.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="margin-top:50px">
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to 'SLIM: Home', '/'%></li>
        <li><%= link_to 'Lipid database', '/lipids'%></li>
        <li><%= link_to 'Features', '/features'%></li>
        <li><%= link_to 'Plot', '/features/plot_2d'%></li>

        <li><%= link_to 'Filter settings', '/filter/edit'%></li>
        <li><%= link_to 'Filter output', '/filter/list'%></li>
      </ul>
    </div>
  </nav>

<%= yield %>
</div>
</body>
</html>
